
body {
    padding: 0;
    margin: 0;
    user-select: none;
}

button {
    width: 60px;
    margin: 10px;
}

#player-card-container {
    display: flex;
}

.player-card {
    width: 45px;
    height: 65px;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
    line-height: 65px;
    background-color: aliceblue;
    box-sizing: border-box;
    cursor: pointer;
}

.selected-card {
    line-height: 61px;
    border: 2px solid red;
}

.disable-card {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: default;
}
