
body {
    padding: 0;
    margin: 0;
    user-select: none;
}

button {
    width: 60px;
    margin: 10px;
}

.red-card {
    color: red;
}

.spacer {
    width: 100%;
}

#player-status-container {
    display: flex;
    margin: 0 auto;
    max-width: 920px;
    flex-wrap: wrap;
    justify-content: center;
}

.cpu-status-container {
    width: 120px;
    text-align: center;
}

.name {
    padding: 0 5px;
    box-sizing: border-box;
}

.current-turn {
    border: solid 2px red;
}

.status {
    margin-left: 10px;
}

#player-button-container {
    display: flex;
    margin: 0 auto;
    max-width: 920px;
    justify-content: center;
}

#player-card-container {
    display: flex;
    margin: 0 auto;
    max-width: 920px;
    flex-wrap: wrap;
    justify-content: center;
}

.player-card {
    width: 45px;
    height: 65px;
    margin: 0 10px 10px;
    font-size: 16px;
    text-align: center;
    line-height: 65px;
    background-color: aliceblue;
    box-sizing: border-box;
    cursor: pointer;
}

.selected-card {
    line-height: 61px;
    border: 2px solid red;
}

.disable-card {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: default;
}

#cpu-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.cpu {
    margin: 0 10px;
    font-size: 16px;
}

.cpu-cards-count {
    width: 45px;
    height: 65px;
    margin: 10px auto 0;
    text-align: center;
    line-height: 65px;
    background-color: aliceblue;
}

#battle-field {
    display: flex;
    min-height: 65px;
    margin: 30px 0 10px;
    justify-content: center;
}

#battle-field .card {
    width: 45px;
    height: 65px;
    margin: 0 10px;
    font-size: 16px;
    text-align: center;
    line-height: 65px;
    background-color: aliceblue;
}

#battle-field button {
    width: 100px;
}
